{% extends 'base.html.twig' %}

{% block title %}Bienvenu !
{% endblock %}

{% block body %}

	<br>
	<h3>Les offres en cours</h3>
	<i class="fas fa-spinner"></i>
	<i class="fas fa-star"></i>

	<div class="progress">
		<div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">15%</div>
	</div>
	<br>

	<hr>

	<div class="row">
		<div class="col-sm">
			<img src="http://placehold.it/150x100" alt="photo">
			<p>Une petite desciption de la marque</p>
			<button type="button" class="btn btn-primary">Consulter</button>
		</div>
		<div class="col-sm">
			<img src="http://placehold.it/150x100" alt="">
			<p>Une petite desciption de la marque</p>
			<button type="button" class="btn btn-primary">Consulter</button>
		</div>
		<div class="col-sm">
			<img src="http://placehold.it/150x100" alt="">
			<p>Une petite desciption de la marque</p>
			<button type="button" class="btn btn-primary">Consulter</button>
		</div>
		<div class="col-sm">
			<img src="http://placehold.it/150x100" alt="">
			<p>Une petite desciption de la marque</p>
			<button type="button" class="btn btn-primary">Consulter</button>
		</div>
		<div class="col-sm">
			<img src="http://placehold.it/150x100" alt="">
			<p>Une petite desciption de la marque</p>
			<button type="button" class="btn btn-primary">Consulter</button>
		</div>
	</div>

{% endblock %}
