{% extends 'base.html.twig' %}

{% block title %}Bienvenu !
{% endblock %}

{% block body %}

	<br>
	<h3>Les offres en cours</h3>
	<i class="fas fa-spinner"></i>
	<i class="fas fa-star"></i>


{% endblock %}
