{% extends 'base.html.twig' %}


{% block title %}
	Les candidatures
{% endblock %}


{% block body %}
	<div class="container pt-5">
		<h2 class="pb-5">Candidatures</h2>
		{% if influencers is empty %}
			<p>Il n'y a pas de candidature pour le moment.</p>
		</br>
		<p>Laissez le temps aux influenceurs de voir votre offre.</p>
	{% endif %}
	{% for influencer in influencers %}
		{% if applications[loop.index0].status == "pending" %}
			<div class="mb-3 card">
				<div class="card-body">
					<p>Nom :
						{{ influencer.username|capitalize }}</p>
					<div class="pb-5 underline">
						<a href="{{ path('influencer_show', {'username': influencer.username}) }}">Voir le profil</a>
					</div>

					<div class="card-action">
						<a href="{{ path('offer_validated_partnership', {'id': applications[loop.index0].offer.id, 'application': applications[loop.index0].id }) }}" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-green-500 rounded shadow ripple hover:shadow-lg hover:bg-green-600 focus:outline-none waves-effect">Valider le partenariat</a>
						<a href="{{ path('offer_refuse_partnership', {'id': applications[loop.index0].offer.id, 'application': applications[loop.index0].id }) }}" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-red-500 rounded shadow ripple hover:shadow-lg hover:bg-red-600 focus:outline-none waves-effect">Refuser le partenariat</a>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>{% endblock %}
