{% extends 'base.html.twig' %}


{% block title %}
	Les candidatures
{% endblock %}


{% block body %}
	<h1>Candidatures</h1>
	{% for influencer in influencers %}
		<div class="card mb-3">
			<div class="card-body">
				<p>Nom : {{ influencer.username|capitalize }}</p>
				</p>
				<a href="">Voir le profil</a>
				<div class="card-action">
					<a href="{{ path('offer_validated_partnership', {'id': influencer.id}) }}" class="btn btn-success">Valider le partenariat</a>
					<a href="" class="btn btn-danger">Refuser le partenariat</a>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
