{% extends 'base.html.twig' %}


{% block title %}
	Les candidatures
{% endblock %}


{% block body %}
	<h1>VALIDATE</h1>

		<div class="card mb-3">
			<div class="card-body">
			</div>
		</div>

{% endblock %}
