@import '~font-awesome';

/* Text header effet  */

.ml2 {
  font-weight: 600;
  font-size: 3em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
  margin-top: 10px;
}


/***** Home Page ****/


/* Responsive */
@media (max-width: 576px) {  
  .xs {color:red;font-weight:bold;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {  
  .sm {color:red;font-weight:bold;}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
  .md {color:red;font-weight:bold;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) { 
  .lg {color:red;font-weight:bold;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .xl {color:red;font-weight:bold;}
}

.header-text-h3 {
  margin-top: 4%;
  margin-left: 25%;
}

.text-header-form {
  margin-bottom: 50px;
  font-size: 120%;
  width: 80%;
  justify-content: right;
}

.link-form {
  color: #FD3E52;
  text-decoration: underline;

}

.bg-blue {
  background-color: #003058;
  color: #fff;
}

.container:hover img {
  opacity:0.3;
}

.container img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}