{% extends 'base.html.twig' %}

{% block title %}Profil de
    {{ app.user.firstname }}
    {{ app.user.lastname }}
{% endblock %}


{% block body %}
    <h1>
        Offres postuler
    </h1>


{% endblock %}
