html {
  body {
    font-family: 'TT Firs Neue', -apple-system, BlinkMacSystemFont, sans-serif,
      'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  footer {
    background-color: #343a40 !important;
  }

  .content {
    min-height: calc(100vh - 70px);
  }
}
