{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}


{% block body %}

<div class="container pt-5">
	<h4>Votre paiement à été effectué ! Merci d'avoir utilisé Likey pour vos partenariats.</h4>
</div>

{% endblock %}
