{% extends 'base.html.twig' %}
 

{% block title %} Editer une offre {% endblock %}
 

{% block body %}

    <h1> Editer une offre</h1>
 

    {{ form_start(form) }}

        {{ form_rest(form) }}

        <button type="submit" class="btn">Sauvegarder</button>

    {{ form_end(form) }}
        <a href="{{path('offer_index')}}" class="btn">Annuler</a>

{% endblock %}