{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}


{% block body %}
<div class="container pt-5">
	<h3>Page d'inscription</h3>
	<hr>
	<div class="row">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button type="submit" class="btn btn-success">Envoyer</button>
			{{ form_end(form) }}
	</div>
</div>

{% endblock %}

