body {
    background-color: lightgray;
}
.container {
    /* On ajoute une marge sur les cotés de l'écran */
    padding-right: 75px;
    padding-left: 15px;

    /* Et on centre */
    margin-right: auto;
    margin-left: auto;
}

@import "~bootstrap/css/bootstrap";

@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';