{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h3>Page d'inscription ...</h3>
    <hr>

    <button type="button" class="btn btn-success" href="/connexion">Se connecter</button>

{% endblock %}
