{% extends 'base.html.twig' %}

{% block body %}
	<h1>Mon profil en tant que
		{% for role in app.user.roles %}
			{% if role == 'ROLE_INFLUENCEUR'%}
				Influenceur
			{% elseif role == 'ROLE_MARQUE' %}
				Marque
			{% endif %}
		{% endfor %}
	</h1>

{% endblock %}
