{% extends 'base.html.twig' %}

{% block body %}
	<h1>Mon profil en tant que
		{% if app.user.roles[0] == 'ROLE_INFLUENCEUR'%}
			Influenceur
		{% elseif app.user.roles[0] == 'ROLE_MARQUE' %}
			Marque
		{% endif %}
	</h1>
	<div class="card">
		<div class="card-body">
			Page en cours de contruction
		</div>
	</div>
{% endblock %}
