{% extends "base.html.twig" %}

{% block title %}
	Erreur 403
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center align-items-center" id="main">
		<h1 class="inline-block pr-3 mr-3 align-top border-right align-content-center">403</h1>
		<div class="inline-block align-middle">
			<h2 class="font-weight-normal lead" id="desc">Oups !! Une erreur s'est produite !</h2>
		</div>
	</div>

{% endblock %}
