{% extends 'base.html.twig' %}

{% block title %}Oups !! Une erreur est survenue !!
{% endblock %}

{% block body %}
	Oups !! Une erreur s'est produite !!
	<a href="{{ path('home') }}">Aller sur Accueil</a>
{% endblock %}
