{% extends 'base.html.twig' %}

{% block title %}Conversations
{% endblock %}

{% block body %}

	{% for conversation in conversations %}
		<h6 class="mb-0">{{ conversation.firstname }}</h6>
		<p class="font-italic mb-0 text-small">{{ conversation.content }}</p>
		<p>ID :
			{{ conversation.conversationId }}</p>


		{# {id: conversation.conversationId}} #}

	{% endfor %}

{% endblock %}
