{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<div class="container pt-5">

		{% if channels and channels != "Security"%}
			<h2>Quelle discussion voulez-vous rejoindre ?</h2>
			<table class="table mt-5 table-striped">
				<tbody>
					{% for channel in channels %}
						<tr class="">
							<th>
								<span>{{ channel.name }}</span>
								<a class="float-right btn btn-primary" href="{{ path('channel_chat', {id: channel.id}) }}">Rejoindre</a>
							</th>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% elseif channels == "Security" %}
			<div class="container pt-5">
				<div class="text-center alert alert-danger">Accés interdit.</div>
			</div>
		{% else %}
			<div class="container pt-5">
				<div class="text-center alert alert-danger">Aucune discussion créée pour l'instant.</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
