<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Likey
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>
	
	<body>
		{% include "shared/_navbar.html.twig" %}
			<div> 
			{% block body %}{% endblock %}
				
			</div>
		{# {% include "shared/_footer.html.twig" %} #}
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
			<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@8.3.0/dist/js/autoComplete.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script type="text/javascript" src="{{ asset('js/autocomplete.js') }}"></script>

		</body>
	</html>
